// Import Bootstrap's main file from node_modules
@import "../node_modules/bootstrap/scss/bootstrap";

// TutoringCompany Tags
.bg-TutorChaseChina {
    background-color: #c7ad46;
    font-weight: 400;
}

.bg-OxbridgeApplications {
    background-color: #05305d;
    font-weight: 400;
}

.bg-LanternaEducation {
    background-color: #ffcd4f;
    color: #000000;
    font-weight: 400;
}

.bg-TutorChase {
    background-color: #10003c;
    font-weight: 400;
}

.bg-UniAdmissions {
    background-color: #365bd4;
    font-weight: 400;
}

