<!-- templates/index.html -->
<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <title>TutorSec</title>
        <link rel="stylesheet" href="styles/style.css">
        <script>
            // send a request to the flask server to shut down when the page is closed
            window.onbeforeunload = function() {
                navigator.sendBeacon('/shutdown');
            };
        </script>
    </head>

    <body>
        <h1>TutorSec</h1>
        <h2>Automated Tutoring Secretary</h2>
    </body>

</html>