<!-- templates/jobs.html -->
<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <title>TutorSec - Automated Tutoring Secretary</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
        <script>
            // // send a request to the flask server to shut down when the page is closed
            // window.onbeforeunload = function() {
            //     navigator.sendBeacon('/shutdown');
            // };
        </script>

        <!-- Link Job Listing Script -->
        <script src="{{ url_for('static', filename='js/JobListing.js') }}"></script>
    </head>

    <body>
        
        <!-- Jobs Container -->
        <div id="jobsContainer" class="container"></div>
        <script>
            // add event listener to the jobs container
            document.addEventListener('DOMContentLoaded', function() {
                const jobsContainerID = "jobsContainer";

                // fetch the jobs from the Flask server
                const jobs = fetchJobs();

                // generate the jobs list
                generateJobsList(jobsContainerID, jobs);
            });
        </script>

    </body>

</html>